*
{
    padding:0px;
    margin:0px;
}

.mainHeading
{
    color:darkgreen;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

.mainDesc
{
    color:#139407;
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
}

.subHeading
{
    color:darkgreen;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

.subDesc
{
    color:#139407;
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
}

.distNavCap
{
    background-color: rgb(37, 97, 37, 0.6);
    font-size:x-large;
}

.trpSec
{
    background-color: rgba(157, 180, 157, 0.8);
    font-weight:bold;
    border-radius: 5px;
}

input::-ms-reveal, input::-ms-clear 
{
    display: none;
}

.frmBg
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/nelliyampathy_hills_palakkad_74.jpg);
}

.frmBgAlp
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/alappuzha_backwaters_7_411.jpg);
}

.frmBgEkm
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/DistLinks/Kochi_Skyline.jpg);
}

.frmBgIdk
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/thekkady_idukki_81.jpg);
}

.frmBgKan
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/DistLinks/Kannur.jpg);
}

.frmBgKas
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/The_Bekal_2264.jpg);
}

.frmBgKol
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/DistLinks/Kollam.jpg);
}

.frmBgKot
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/DistLinks/Kottayam.jpg);
}

.frmBgKoz
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/Uru_Tradition_of_Beypore.jpg);
}

.frmBgMpm
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-image: url(../Images/DistLinks/MpmBg.jpg);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus 
{
    background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus 
{
    background-color:#639963;
}

.carousel-caption
{
    background-color: rgb(37, 97, 37, 0.7);
}
